.navlink {
     padding: 5px 16px;

}

.icon-center {
     display: flex;
     justify-content: center;
}

.navlink-active-light-bg {
     background-color: #203158;
}

.navlink-active-dark-bg {
     background-color: #8D91A1;
}