/* for body */
.body-dark-mode {
    background-color: #1B1D20;
    color: #FFFFFF;
}

.body-light-mode {
    background-color: #FFFFFF;
    color: #0F0E11;
}

/* for side and top navbars */
.dark-mode {
    background-color: #0F0E11;
    color: #FFFFFF;
}

.light-mode {
    background-color: #FFFFFF;
    color: #0F0E11;
}

/* for buttons */
.button-light {
    background-color: #475585;
    color: #FFFFFF;
}

.button-dark {
    background-color: #0F0E11;
    color: #FFFFFF;
}

/* for active navbars only */
.navlink-active-light-bg {
    background-color: #203158;
}

.navlink-active-dark-bg {
    background-color: #5c5a5a;
}