/* for body */
.body-light-mode {
    background-color: #FFFFFF;
    color: #0F0E11;
}

.body-dark-mode {
    background-color: #1B1D20;
    color: #FFFFFF;
}

/* for side and top navbars, buttons */
.light-mode {
    background-color: #475585;
    color: #FFFFFF;
}

.dark-mode {
    background-color: #0F0E11;
    color: #FFFFFF;
}

/* for active navbars only */
.navlink-active-light-bg {
    background-color: #203158;
}

.navlink-active-dark-bg {
    background-color: #5c5a5a;
}