:root {
    --primary-dark: #0F0E11;
    --secondary-dark: #1B1D20;

    --primary-gray: #808080;
    --secondary-gray: #b5b7ba;

    --primary-light: #FFFFFF;
    --secondary-light: #ECEEF3;

    --primary-blue: #475585;
}

/* for body */
.body-lightmode {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

.body-darkmode {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}

/* for side and top navbars, buttons */
.lightmode {
    background-color: var(--primary-blue);
    color: var(--primary-light);
}

.darkmode {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

/* for active navbars only */
.navlink-active-light-bg {
    background-color: #2e3b5a;
}

.navlink-active-dark-bg {
    background-color: #313537;
}

/* for title */
.title-light {
    color: var(--primary-blue);
}

.title-dark {
    color: var(--secondary-light);
}

/* for input fields and textarea */
/* lightmode configs */
.form-lightmode input,
.form-lightmode textarea,
.input-lightmode {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 2px solid rgba(128, 128, 128, 0.2);
}

.form-lightmode input:focus,
.form-lightmode textarea:focus,
.input-lightmode:focus {
    border: 2px solid var(--primary-blue);
}

.form-lightmode .form-sub-title,
.form-lightmode .note,
label,
.form-lightmode ::placeholder {
    color: var(--primary-gray);
}

/* darkmode configs */
.form-darkmode input,
.form-darkmode textarea,
.input-darkmode {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    border: 2px solid rgba(181, 183, 186, 0.4);
}

.form-darkmode input:focus,
.form-darkmode textarea:focus,
.input-darkmode:focus {
    border: 2px solid var(--secondary-light);
}

.form-darkmode .form-sub-title,
.form-darkmode .note,
label,
.form-darkmode ::placeholder {
    color: var(--secondary-gray);
}