@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

     h1 {
          font-size: 19px;
          font-weight: bold;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: .6px;
          /* this color is custom congitured @tailwind.config.js */
     }

     .cstm-paged {
          /* 60px is top-navbar's height */
          width: 100%;
          height: calc(100vh - 60px);
          display: flex;
          /* without 'align-items:flex-start' the height of the child will be fixed */
          align-items: flex-start;
          justify-content: center;
          overflow-y: scroll;
          padding: 25px 30px;
     }

     @media screen and (max-width: 400px) {
          .cstm-paged {
               padding-left: 15px;
               padding-right: 15px;
          }
     }

     /* Hide scrollbar for Chrome, Safari and Opera */
     *::-webkit-scrollbar {
          display: none;
     }

     /* Hide scrollbar for IE, Edge and Firefox */
     * {
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
     }

     /* for testing elements with border */
     .b {
          border: 2px solid red;
     }
}